{% extends 'zooventory/base.html' %}

{% block header %}
  <h1 class="text-center text-success mb-4">{% block title %}New Animal{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-lg border-0">
    <div class="card-body">
      <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input name="name" id="name" class="form-control" value="{{ form.name.value|default_if_none:'' }}" required>
        </div>
        <div class="mb-3">
          <label for="species" class="form-label">Species</label>
          <select name="species" id="species" class="form-control" required>
              {% for animal in uniqueanimals %}
                  <option value="{{ animal.name }}" {% if animal.name == current_species %} selected {% endif %}>
                      {{ animal.name }}
                  </option>
              {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input name="age" id="age" type="number" min="0" class="form-control" value="{{ form.age.value|default_if_none:'' }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Weight</label>
            <div class="d-flex align-items-center gap-2">
                <input name="weight_lb" id="weight_lb"
                       type="number" min="0"
                       class="form-control w-auto"
                       value="{{ form.weight_lb.value|default_if_none:'' }}" required>
                <span>lb</span>

                <input name="weight_oz" id="weight_oz"
                       type="number" min="0"
                       class="form-control w-auto"
                       value="{{ form.weight_oz.value|default_if_none:'' }}" required>
                <span>oz</span>
            </div>
        </div>
        <button type="submit" class="btn btn-success w-100">Save</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}